{{- $toc := .Site.Params.toc -}}

{{- if isset .Params "toc" -}}
    {{ $toc = .Params.toc }}
{{- end -}}

{{- if $toc -}}
    {{ $tocOpen := "" }}
    {{ if or .Site.Params.tocOpen .Params.tocOpen }}
        {{ if not (eq .Params.tocOpen false) }}
            {{ $tocOpen = "open" }}
        {{ end }}
    {{ end }}

    <details class="toc" {{ $tocOpen }}>
        <summary>
            <b class="toc-label">{{ T "single.table_of_contents" }}</b>
            <span
                class="toc-current"
                aria-live="polite"
                aria-atomic="true"
            ></span>
        </summary>

        {{ .TableOfContents }}
    </details>
{{- end -}}
